/* #region Basic page settings */
body{
    /* Roboto regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #fff;
    color: #434455;
}

*{
    padding: 0;
    margin: 0;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2{
    /* Roboto bold */
    font-family: "Roboto", sans-serif;
    font-weight: 700;    
    letter-spacing: 0.02em;
    font-style: normal;
}

h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

h3{
    /* Roboto medium */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

section, header, main, footer{
    min-width: 100vh;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 1158px; */
    margin-left: 141px;
    margin-right: 141px;
}



/* #endregion Basic page settings */



/* #region Header */
header{
    background-color: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* Navigation */

header .container a{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.nav-list-item{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
}

.page-logo{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:#4d5ae5 ;
}

.page-logo-span-header{
    color: #2e2f42;
}

.header-navigation ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-list-link {
    font-weight: 500;
    color: #2e2f42;
}

.nav-list-link:hover {
    color: #404bbf;
}

.nav-list-link:focus {
    color: #404bbf;
}




/* Adresses */

.header-addresses{
    font-style: normal;
}
.header-addresses-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-addresses-link:hover {
    color: #404bbf;
}

.header-addresses-link:focus {
    color: #404bbf;
}

.header-addresses a{
    color: inherit;
}

/* #endregion Header */



/* #region hero */
.hero {
    background-color: #2e2f42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
    /* padding: 188px 331px; */
    gap: 43px;
}

.hero-title {
    font-size: 56px;
    line-height: 60px; 
    line-height: 1.07;
    text-align: center;
    color: #fff;
    max-width: 500px ;
}

.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    border: 1px solid #000;
    border-radius: 4px;
}

.hero-button:hover {
    background: #404bbf;
    cursor: pointer;
}

.hero-button:focus {
    background: #404bbf;
}
/* #endregion hero */



/* #region section of description */

.list-of-descriptions{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin: 120px 0px 112px;
}

.list-of-descriptions-item{
    flex-basis: calc((100% - 72px)/4);
}

.section-of-description h2{
    display: none;
}

.section-of-description .lists-text{
    margin-top: 8px;
}


/* #endregion section of description */



/* #region our team */
.our-team{
    background: #f4f4fd;
}

.our-team .container{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-list{
    padding-top: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding-bottom: 32px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-item-title{
    text-align: center;
}
.our-team-text{
    text-align: center;
}

.our-team-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

/* #endregion our team */



/* #region our portfolio */

.our-portfolio .container{
    padding-top: 128px;
    padding-bottom: 120px;
}

.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 48px;
    column-gap: 24px;
    padding-top: 72px;
}

.our-portfolio-list-item{
    background-color: #fff;
}

.our-portfolio-text-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 32px 0 32px 16px;
}

/* #endregion our portfolio */



/* #region footer */
footer{
    background: #2e2f42;
}
.page-logo-span-footer{
    color: #f4f4fd;
}
.footer-text{
    color: #f4f4fd;
    padding-top: 16px;
}

footer .container{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 264px;
}
/* #endregion footer */