/* #region Basic page settings */
body{
    /* Roboto regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #fff;
    color: #434455;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2{
    /* Roboto bold */
    font-family: "Roboto", sans-serif;
    font-weight: 700;    
    letter-spacing: 0.02em;
    font-style: normal;
}

h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

h3{
    /* Roboto medium */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/* #endregion Basic page settings */



/* #region Header */
header{
    background-color: #fff;
}
.page-logo{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:#4d5ae5 ;
}

.page-logo-span-header{
    color: #2e2f42;
}


/* Navigation */
.nav-list-link {
    font-weight: 500;
    color: #2e2f42;
}

.nav-list-link:hover {
    color: #404bbf;
}

.nav-list-link:focus {
    color: #404bbf;
}


/* Adresses */

.header-addresses{
    font-style: normal;
}

.header-addresses-link:hover {
    color: #404bbf;
}

.header-addresses-link:focus {
    color: #404bbf;
}

.header-addresses a{
    color: inherit;
}

/* #endregion Header */



/* #region hero */
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 60px; 
    line-height: 1.07;
    text-align: center;
    color: #fff;
}

.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.hero-button:hover {
    background: #404bbf;
    cursor: pointer;
}

.hero-button:focus {
    background: #404bbf;
}
/* #endregion hero */



/* #region section of description */

/* #endregion section of description */



/* #region our team */
.our-team{
    background: #f4f4fd;
}
.our-team-item{
    background: #fff;
}
.our-team-item-title{
    text-align: center;
}
.our-team-text{
    text-align: center;
}
/* #endregion our team */



/* #region our portfolio */
.our-portfolio-list-item{
    background-color: #fff;
}
/* #endregion our portfolio */



/* #region footer */
footer{
    background: #2e2f42;
}
.page-logo-span-footer{
    color: #f4f4fd;
}
.footer-text{
    color: #f4f4fd;
}
/* #endregion footer */